@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color: #f8fafc;
}

@supports (height: 100svh) {
  body {
    min-height: 100svh;
  }
}

@supports (height: 100dvh) {
  body {
    min-height: 100dvh;
  }
}

@supports (padding-bottom: constant(safe-area-inset-bottom)) {
  body {
    padding-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (padding-bottom: env(safe-area-inset-bottom)) {
  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
