@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    min-height: 100%;
  }

  body {
    margin: 0;
    background-color: #ffffff;
  }
}

@layer utilities {
  @supports (height: 100dvh) {
    .min-h-screen {
      min-height: 100dvh;
    }
  }
}
